.main-container {
  max-width: 1440px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto minmax(0, 2fr);
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  position: relative;

  border-left: 1px solid rgba(var(--color-black-blue-rgb), 0.1);
  border-right: 1px solid rgba(var(--color-black-blue-rgb), 0.1);

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: var(--color-black-blue);
  }

  &::before {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    opacity: 20%;
    transform: translateX(-50%);

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__content {
    justify-self: start;
  }

  &__block-title {
    border-image: linear-gradient(to bottom, #3877EE 0%, #EF5DA8 100%) 0 0 0 1;
    border-width: 5px;
    border-style: solid;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 56px;
    color: var(--color-black-blue);
    max-width: 353px;
    padding-left: 78px;
    line-height: 120%;

    @media screen and (max-width: 768px) {
      font-size: 26px;
      border: none;
      padding-left: 20px;
      max-width: 153px;
    }

    @media screen and (min-width: 769px) and (max-width: 1128px) {
      font-size: 40px;
      max-width: 303px;
      padding-left: 58px;
    }

  }

  &__data {
    grid-row: 2;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 200px;
    line-height: 160%;
    display: flex;
    justify-content: center;
    gap: 70px;
    z-index: 2;
    min-width: 0;
    position: relative;
    width: 100%;

    &__left-number {
      color: var(--color-iris-100);
      z-index: 2;
    }
    &__right-number {
      color: var(--color-fuschia-100);
      z-index: 2;
    }

    @media screen and (max-width: 768px) {
      font-size: 56px;
      gap: 20px;
      padding-bottom: 60px;
    }

    @media screen and (min-width: 769px) and (max-width: 1128px) {
      font-size: 150px;
      gap: 20px;
      padding-bottom: 60px;
    }

    &::after {
      content: "";
      position: absolute;
      background: var(--color-black-blue);
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      opacity: 20%;
      transform: translateY(-50%);

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__bottom {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    min-width: 0;
    
    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-rows: minmax(0, 3fr) minmax(0, 1fr);
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background: var(--color-gray-line);
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 90%;
        height: 1px;
      }
    }
  }
}
