.arrow-button {
  border-radius: 50%;
  padding: 0;
  z-index: 10;
  cursor: pointer;
  line-height: 0;

  &__left {
    transform: rotate(180deg);
  }

  &__right {

  }
}

.disabled {
  cursor: initial;
  opacity: 0.5;
}